*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(27, 27, 27, 0.6);
    position: fixed;
    top: 0%;
    padding: 2px 20px;
    font-family: "Inter", sans-serif;
    backdrop-filter: blur(8px);
    font-weight: 300;
    overflow-y: scroll;
}


*{
     margin: 0;
     padding: 0;
 }
 .header{
     min-height: 100vh;
     width: 100%;
     background-image: url(images/banner.png);
     background-position: center center;
     background-size: cover;
     position: relative;
 }

 ul{
    list-style: none;
 }
 li{
    display: inline-block;
 }
 li a{
    margin-left: 40px;
 }
 nav a{
    color: #a1a1a1; 
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 13px;
    transition: color 400ms;
 }
 nav a:hover{
    color: #ffffff;
 }
 img{
    padding: 2%;
    max-width: 13%;
    max-height: 13%;
 }
 .text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
 }
 .text-box h3{
    font-size: 14px;
    margin: 0 0 10px;
 }
 .text-box h1{
    font-size: 44px;
 }
 .text-box p{
    margin-top: 20px;
    margin-bottom: 30px;
 }

.about-us{
    display: inline-block;
    text-decoration:none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 34px;
    font-size: 13px ;
    background: transparent;
    position: relative;
    cursor: pointer;
}




















