*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Inter', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
}
/* --------- Css for the HEADER of the page --------- */
 .header{
     min-height: 100vh;
     width: 100%;
     background-image: url(images/banner.png);
     background-position: center;
     background-size: cover;
     position: relative;
 }
 /* --------- END ---------*/

/* --------- Css for the NAVIGATION BAR on the top of the page ---------*/
 nav{
    display: flex;
    padding: 2px 20px;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    background-color: rgba(27, 27, 27, 0.6);
    /* position: fixed; */
    top: 0%;
    backdrop-filter: blur(8px);
    z-index: 2;
    /* overflow-y: scroll; */
}
.nav-links{
    flex: 1;
    text-align: right;
    margin-left: 40px
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links a{
    color: #a1a1a1; 
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    transition: color 400ms;
    font-family: "Inter", sans-serif; 
}
.nav-links a:hover{
    color: #ffffff;
}
/* --------- END ---------*/

/* --------- Css for the LOGO of the comapny in the Navigation bar bar ---------*/
nav img{
    padding: 2%;
    max-width: 13%;
    max-height: 13%;
}
/* --------- END ---------*/

/* --------- css for the TEXT in the beggining of the home page ---------*/
.text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
 }
 .text-box h3{
    font-size: 14px;
    margin: 0 0 10px;
 }
 .text-box h1{
    font-size: 44px;
 }
 .text-box p{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
 }
/* --------- END ---------*/

/* --------- Css for Transparent buttons, when hovered upon it turns blurred ---------*/
.button-trans{
    display: inline-block;
    text-decoration:none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 34px;
    font-size: 13px ;
    position: relative;
    background: transparent;
    cursor: pointer;
}
.button-trans:hover{
    backdrop-filter: blur(3px);
    transition: 400ms;
}
/* --------- END ---------*/


@media(max-width: 700px){
    .text-box{
        z-index: 1;
    }
    .text-box h3{
        font-size: 14px;
     }
     .text-box h1{
        font-size: 34px;
     }
     .text-box p{
        font-size: 13px;
     }

    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #1f1f1f;
        height: 100vh;
        width: 40%;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}












