
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Inter', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
}

 .header{
     min-height: 100vh;
     width: 100%;
     background-image: url(images/banner.png);
     background-position: center ;
     background-size: cover;
     position: relative;
 }
 nav{
    display: flex;
    padding: 2px 20px;
    justify-content: space-between;
    align-items: center;
    /*width: 100%;*/
    background-color: rgba(27, 27, 27, 0.6);
    /*position: fixed;*/
    top: 0%;
    backdrop-filter: blur(8px);
    overflow-y: scroll;
}
nav img{
    padding: 2%;
    max-width: 13%;
    max-height: 13%;
}
.nav-links{
    flex: 1;
    text-align: right;
    margin-left: 40px
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links a{
    color: #a1a1a1; 
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    transition: color 400ms;
    font-family: "Inter", sans-serif;
}
.nav-links a:hover{
    background: #ffffff;
}

















/*
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 

 ul{
    list-style: none;
 }
 li{
    display: inline-block;
 }
 li a{
    margin-left: 40px;
 }
 nav a{
    color: #a1a1a1; 
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 13px;
    transition: color 400ms;
 }
 nav a:hover{
    color: #ffffff;
 }
 img{
    padding: 2%;
    max-width: 13%;
    max-height: 13%;
 }
 .text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
 }
 .text-box h3{
    font-size: 14px;
    margin: 0 0 10px;
 }
 .text-box h1{
    font-size: 44px;
 }
 .text-box p{
    margin-top: 20px;
    margin-bottom: 30px;
 }

.button-trans{
    display: inline-block;
    text-decoration:none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 34px;
    font-size: 13px ;
    position: relative;
    background: transparent;
    cursor: pointer;
}
.button-trans:hover{
    backdrop-filter: blur(3px);
    transition: 400ms;
}



@media(max-width: 700px){
    img{
        padding: 2%;
        max-width: 30%;
        max-height: 30%;
     }
     nav ul li{
        display: block;
     }
     nav{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200vh;
        top: 0;
        left: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        
     }
}

*/














